@charset "UTF-8";
/****** Utils ******/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&amp;display=swap");

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: #2a2f2e;
}
p, h1, h2, h3, h4, h5, h6 {
    color: #2a2f2e;
}

.image-frame {
    position: relative;
    display: inline-block;
}

.gray-square {
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(180,180,180,0.17);
    border-radius: 10px;
    z-index: 0;
}

.main-img {
    position: relative;
    z-index: 1;
    display: block;
}

.badge-circle {
    width: 160px;
    height: 160px;
    display: inline-block;
    z-index: 5;
}

.alt-section:nth-child(even) {
    background:
        radial-gradient(circle at 20% 30%, #e7fad9 0%, #f4fce6 70%, transparent 100%),
        radial-gradient(circle at 80% 20%, #f4fce6 0%, #fcfff8 60%, transparent 100%),
        radial-gradient(circle at 50% 70%, #d0f5c1 0%, #fafdfe 80%, transparent 100%),
        radial-gradient(circle at 90% 90%, #f6fcee 0%, #f4fce6 80%, transparent 100%);
    background-color: #f4fce6;
}
.alt-section:nth-child(odd) {
    background-color: #fbfff4;
}
.section-padding {
    padding: 4rem 1rem;
}
.logo img {
    height: 35px;
    margin-right: 10px;
}

.community {
    display: flex;
    align-items: center;
}

.community img {
    width: 100px;
    height: 100px;
    border: solid 3px white;
    border-radius: 50%;
    margin-right: -20px;
}

.community-icons svg {
    margin: 0 0.3rem;
    cursor: pointer;
}

.login-btn {
    background: #dcffad;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    color: #2a2f2e;
    text-decoration: none;
}
.badge-custom {
    background: #dcffad;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.footer {
    background-color: #dcffad;
    color: #353d3c;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #79c37d;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 50px;
    font-size: 1.2rem;
    display: none;
    cursor: pointer;
    z-index: 999;
}
